* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h5 {
  color: #fff;
  margin-bottom: 10px;
}

.text-color {
  color: orange;
}

.titles {
  color: #4f4c4c;
  text-align: center;
  font-size: 60px;
  margin-top: 150px;
}

#navbar {
  background-color: #4f4c4c;
  color: #0f0a0a;
  overflow: auto;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

#navbar h2 {
  float: left;
  padding: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar li {
  display: inline-block;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 23px;
}

#navbar ul li a:hover {
  color: orange;
}
#navbar li a.active {
  background-color: orange;
}
#home {
  background-image: url("../images/bgfix.jpg");
  background-color: #4f4c4c;
  background-size: cover;
  background-position: center center;
  height: 721px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.hero h1 {
  font-size: 48px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 150px;
}
.hero .btn {
  margin-left: 250px;
}

.hero img {
  width: 400px;
  margin: 0 20px;
  border: 20px solid orange;
  border-radius: 50%;
  overflow: hidden;

}

.btn {
  display: block;
  text-align: center;
  margin-left: 5px;
  margin-top: 40px;
  padding: 18px;
  font-size: 30px;
  color: #cfcfcf;
  border: 3px solid orange;
  width: fit-content;
}

.btn:hover {
  color: #fff;
  background-color: orange;
}

#experience {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

#experience-details {
  margin-top: 90px;
  display: flex;
}
#experience-details .box {
  border-radius: 5px;
  max-width: 300px;
  display: inline-block;
  background-color: rgb(139, 138, 138);
  color: #fff;
  width: 300px;
  height: 400px;
  margin: 40px;
  padding: 20px;
}
#experience p {
    font-family: "Poppins","Arial";
    font-size: 18px;
}
#experience-details p {
    font-family: "Poppins";
}

#experience-details a {
    font-family: "Poppins";
}
.lihat-sertifikat {
  background-color: orange; 
  border: none; 
  color: white; 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 5px; 
}

#experience-details .box img {
  height: 150px;
  width: auto;
  margin: auto;
  padding-left: 25px;
}

.projects-container {
  display: flex;
  height: 418px;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 35px; */
}
.projects-left {
  background-color: rgb(139, 138, 138);
  color: #fff;
  width: 700px;
  padding-top: 140px;
  padding-left: 30px;
  padding-right: 10px;
  font-family: "Poppins"
}

.projects-left a {
    color: rgb(255, 221, 53);
}

.projects-img {
  position: relative;
  overflow: hidden;
  width: 700px;
}
.projects-img img {
  max-width: 100%;
  transition: 0.5s all ease-in-out;
}

.projects-img:hover img {
  transform: scale(1.3);
}

.About-container {
  display: flex;
  margin-top: 60px;
}

.About-box {
  width: 300px;
  
}

.About-box img {
  height: 500px;
  margin-top: 190px;
  margin-bottom: 20px;
  margin-left: 3px;
}

.About-details {
  margin-top: 180px;
  margin-right: 120px;
  margin-left: 220px;
}

.About-details h2 {
  color: #4f4c4c;
  font-size: 60px;
}

.About-details h4 {
  margin-bottom: 10px;
  font-size: 25px;
}
.About-details p{
  font-family: "Poppins"
}
.About-details .btn {
  color: #4f4c4c;
}

.contact-box {
  display: inline-block;
  height: 150px;
  width: 350px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 35px;
  transition: box-shadow 0.3s;
}

.contact-box:hover {
  box-shadow: 1px 1px 1px 1px black;
}

.contact-box img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 35px;
  float: left;
}

.contact-box h6 {
  margin-top: 40px;
  font-size: 25px;
}

footer {
  margin-top: 200px;
  background-color: #4f4c4c;
  text-align: center;
  color: #fff;
}

footer h2 {
  padding-top: 20px;
}

footer p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

footer h6 {
  padding-top: 25px;
}
